.u-section-1 .u-sheet-1 {
  min-height: 129px;
}

.u-section-1 .u-text-1 {
  margin: 25px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 78px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 20px 20px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 566px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-4 {
  margin: 16px 165px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 342px;
  margin: -24px auto 0 20px;
}

.u-section-3 .u-image-2 {
  width: 443px;
  height: 295px;
  margin: -319px 54px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 25px auto 20px 255px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-5 {
    margin-left: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 324px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -301px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 104px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 204px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-top: -181px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 92px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 744px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0 20px;
}

.u-section-4 .u-text-3 {
  margin: 4px 268px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 400px;
  height: 400px;
  margin: 20px auto 0 60px;
}

.u-section-4 .u-image-2 {
  width: 566px;
  height: 566px;
  margin: -400px 60px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: -146px auto 138px 153px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-right: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 154px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -120px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 97px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -340px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 80px;
    margin-left: 96px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1155px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0 20px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 190px;
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: -28px auto 0 252px;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 190px;
  margin: -190px 0 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -7px 226px 0 auto;
}

.u-section-5 .u-text-4 {
  margin: -8px auto 0;
}

.u-section-5 .u-image-3 {
  width: 370px;
  height: 566px;
  margin: 3px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 157px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -157px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 120px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 193px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -120px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-5 .u-image-1 {
    width: 270px;
    height: 90px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 145px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 180px;
    margin-top: -90px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -5px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-5 .u-image-1 {
    width: 170px;
    height: 57px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
    margin-left: 91px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 113px;
    margin-top: -57px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 107px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 520px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 739px;
}

.u-section-6 .u-text-1 {
  margin: 11px auto 0 50px;
}

.u-section-6 .u-text-2 {
  margin: 11px auto 0 16px;
}

.u-section-6 .u-image-1 {
  width: 204px;
  height: 204px;
  margin: 11px auto 0 333px;
}

.u-section-6 .u-text-3 {
  margin: -215px auto 0 357px;
}

.u-section-6 .u-image-2 {
  width: 306px;
  height: 204px;
  margin: -17px auto 0 16px;
}

.u-section-6 .u-image-3 {
  width: 204px;
  height: 204px;
  margin: -204px 388px 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 20px 412px 0 auto;
}

.u-section-6 .u-text-5 {
  margin: -28px auto 0 62px;
}

.u-section-6 .u-image-4 {
  width: 537px;
  height: 302px;
  margin: 39px auto 0 11px;
}

.u-section-6 .u-text-6 {
  margin: -284px auto 0 161px;
}

.u-section-6 .u-image-5 {
  width: 333px;
  height: 183px;
  margin: -28px 115px 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 20px 226px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-3 {
    margin-left: 294px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-3 {
    margin-left: 225px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-3 {
    margin-left: 169px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 336px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 195px;
  }

  .u-section-6 .u-image-4 {
    margin-left: 3px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 136px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 106px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 136px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 123px;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: -173px;
    margin-left: 101px;
  }

  .u-section-6 .u-image-5 {
    margin-right: 7px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 107px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 775px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 40px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 40px auto 50px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}